<div class="main">
  <h1>Color Blind Simulator</h1>
  <div class="options">
    <mat-form-field appearance="fill">
      <mat-label>Select an option</mat-label>
      <mat-select (selectionChange)="setSelectOption($event.value)">
        <mat-option>None</mat-option>
        <mat-option value="achromatopsia">Achromatopsia</mat-option>
        <mat-option value="deuteranopia">Deuteranopia</mat-option>
        <mat-option value="protanopia">Protanopia</mat-option>
        <mat-option value="tritanopia">Tritanopia</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="color-picker">
      <ngx-colors ngx-colors-trigger [(ngModel)]="color"></ngx-colors>
      <p>Color name: {{ color | hexToColor }}</p>
    </div>
  </div>
  <div class="examples">
    <cbp-slideshow> </cbp-slideshow>
    <cbp-box-preview [color]="color" [selected]="selected"></cbp-box-preview>
  </div>
</div>

<svg>
  <filter id="colorFilter"></filter>
</svg>
