.navigate {
  display: flex;
  align-items: center;

  mat-icon {
    padding: 5px;
    cursor: pointer;
  }
  .images {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    max-height: 420px;
    border: 2px solid black;
    border-radius: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      &.filtered {
        filter: url(#colorFilter);
      }
    }
  }

  @media screen and (min-width: 800px) {
    .images {
      max-width: 300px;
      max-height: 780px;
    }
  }
}
